@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #FAFAF7;
}

body {
  color: #1A1A18;
}

.dropcap::first-letter {
  float: left;
  font-family: var(--font-display);
  font-size: 4.2rem;
  line-height: 0.8;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  font-weight: 700;
}

.font-feature-headline {
  font-feature-settings: "liga" 1, "kern" 1;
}
